* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -moz-user-select: none;
    -webkit-user-select: none;
  }

  :root{
    --primary-color: rgb(255, 120, 120);
    --secondary-color: rgb(255, 251, 239);
  }
  
  body{
    font-size: 1rem;
  }
  li{
    list-style-type: none;
  }
  a {
    text-decoration: none;
  }
 
  
  h1{
    font-size: 3em;
  }
  h2{
    font-size: 2em;
  }
  h3{
    font-size: 1.25em;
  }
  h4{
    font-size: 0.875em;
  }
  
  
  


  /*selected house section*/
  .nav.light-shadow{
    box-shadow: 0px 3px 3px 0 rgba(0, 0, 0, 0.288);
  }
  
  .selected-house-section{
      max-width: 90%;
      margin: 0 auto;
      display: grid;
      grid-template-columns: 1.4fr 1fr;
      margin-top: 40px;
      margin-bottom: 40px;
      box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
      border-radius: 10px;
  }

  .selected-house-container{
    position: relative;
  }

  .lni.lni-chevron-left{
    position: absolute;
    top: 50%;
    left: 5%;
    font-size: 2.5rem;
    color: white;
    cursor: pointer;
    transform: translateY(-50%);
  }

  .lni.lni-chevron-right{
    position: absolute;
    top: 50%;
    right: 5%;
    font-size: 2.5rem;
    color: white;
    cursor: pointer;
    transform: translateY(-50%);
  }

  .selected-house{
      max-width: 100%;
      min-width: 100%;
      height: auto;
      display: block;
      box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
      border-radius: 10px 0px 0px 10px;
  }

  .address-info{
    padding: 35px;
    height: auto;
  }

  .address{
    margin-bottom: 25px;
  }

  .price{
    margin-bottom: 5px;
    font-weight: bold;
  }

  .est-payment{
    margin-bottom: 40px;
  }

  .amenities{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 5px;
    row-gap: 5px;
  }

  .amenity{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
    padding: 15px 0;
    border-radius: 5px;
  }

  @media(max-width: 1330px){

    .address-info{
      padding: 25px;
    }

    .address{
      font-size: 20px;
    }

    .price, .est-payment{
      font-size: 12px;
    }
  
  }

  @media(max-width: 1200px){

    .amenity{
      padding: 10px 0;
    }

    .amenity p{
      font-size: 11px;
    }
  }


  @media(max-width: 1050px){

    .amenities{
      grid-template-columns: repeat(3, 1fr);
    }
    .selected-house-section{
        max-width: 100%;
        margin-top: 0rem;
        grid-template-columns: 1fr;
        box-shadow: none;
    }

    .selected-house{
      box-shadow: none;
      border-radius: 0px;
  }
  }

  @media(max-width: 700px){

    .amenities{
      grid-template-columns: repeat(2, 1fr);
    }
    .selected-house-section{
        max-width: 100%;
        margin-top: 0rem;
        grid-template-columns: 1fr;
    }
  }
  /*contact*/

  .contact{
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    max-width: 90%;
    margin: 0 auto;
    padding: 40px;
    margin-top: 40px;
    margin-bottom: 70px;
  }

  .form{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .contact h2{
    margin-bottom: 20px;
    text-transform: capitalize;
  }

  .form-input{
    margin: 0 auto;
    width: 65%;
    margin-bottom: 12px;
  }

  .label{
    margin-bottom: 5px;
  }

  .form-input input, .message-input{
   width: 100%;
   border: 1px solid rgb(211, 211, 211);
   padding: 10px 20px;
   border-radius: 5px;
   color: black;
  }

  .message-address{
    font-weight: bold;
  }

  .contact-information{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
  }

  .contact-flex{
    margin-bottom: 10px;
  }

  .send-message-btn{
    width: 300px;
    margin: 0 auto;
    border: 2px solid var(--primary-color);
    text-transform: uppercase;
    text-shadow: 1px 1px rgb(0, 0, 0);
    padding: 10px 0;
    text-decoration: none;
    background-color: var(--primary-color);
    color: white;
    border-radius: 8px;
    margin-bottom: 20px;
    margin-top: 20px;
    font-size: 16px;
    cursor: pointer;
  }

  .contact-flex{
    display: flex;
  }

  .contact-flex i{
    margin-right: 6px;
  }

  @media(max-width: 700px){

    .contact{
      box-shadow: none;
      margin-top: 0px;
    }

    .form-input, .send-message-btn{
      width: 100%;
    }

    
  }